/* navbar  */

.navbar {
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 10px 0px;
}


/* .navbar-brand {
    color: rgb(9, 201, 214);
} */

@media (max-width: 992px) {
    .navbar .btn,
    .no-arrow {
        display: none;
    }
}

.btn {
    border: 1px solid rgb(9, 201, 214);
    color: rgb(9, 201, 214);
}

.btn:hover {
    background-color: rgb(9, 201, 214);
    color: white;
}


/* navbarend  */

.car-image {
    max-width: 100%;
    height: auto;
}

.fa-regular,
.fa-solid {
    color: rgb(9, 201, 214);
}

#userDropdown::after {
    display: none !important;
}

.dropdown-menu {
    left: -100px !important;
    ;
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:hover {
    background-color: transparent !important;
    color: gray;
    /* Keep the original text color */
    outline: none !important;
    box-shadow: none !important;
}


/* Remove the blue outline */

.dropdown-item:focus-visible {
    outline: none !important;
}